---
import Layout from "@/layouts/Layout.astro"
import ProductElement from "@/components/ProductElement.astro"
import { getProducts} from '@/api/productsService';
import type { Root } from '@/api//types'; 


// Asegúrate de importar correctamente tu función getProducts
 // Importa la interfaz Root desde tu archivo types.ts

const products: Root[] = await getProducts();


---

<Layout title="FakeStore">
    <section class="all_products">
        {
            products.map((product:Root)=>(
                <ProductElement product={product}/>
            ))
        }
    </section>
</Layout>

<style>
    .all_products{
        left: 0;
        right: 0;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(300px,1fr)
        );
        justify-content: center; 
        gap:32px
    }

    @media (max-width: 748px) {
        .all_products{
            grid-template-columns: repeat(
            auto-fit,
            minmax(200px,1fr)
        );
        }

    }
</style>
