---
interface Props{
    categories:string[]
}
import { capitalizeFirstLetter } from "@/utils/capitalizeFirstLetter";
const {categories} = Astro.props
import IconArrow from "./icons/IconArrow.astro";
---
<div class="dropdown_button">
    <div class="button_drop">
        <a href="/categories"><p>Categorias</p><img src="/src/assets/arrow_dd.svg"></a>
    </div>
    <div class="dropdown_content">
        <ul class="list_content">
            {categories.map((category:string) => (
            <li>
                <a href={`/category/${category}`}>{capitalizeFirstLetter(category)}</a>
            </li>
            ))}
        </ul>
    </div>
    <div class="dropdown_shadow"> 
    </div>
</div>

<style>
    

    .dropdown_button{
        z-index: 10;
        box-sizing: border-box;
        position: static;
        display: inline-block;
        overflow: hidden;
        transition: overflow 0.3s ease;
    }

    .dropdown_button:hover{
        position: static; /* Cambiar la posición para permitir que los hijos salgan del contenedor */
    }

    /*boton *********************************************/
    .button_drop {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    .button_drop > a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; /* Añadido para posicionar el pseudo-elemento de manera relativa */
        overflow: hidden; /* Añadido para ocultar el borde antes de hover */
        /* padding: arriba, derecha, abajo, izquierda */
        color: #fff9f0; /* Cambia el color a tu preferencia usando códigos de color o nombres de color */
        font-weight: 600; /* Cambia el peso de la fuente a "bold" para negrita */
        transition: all 0.3s ease;
    }  
    
    .button_drop > a > p{
        padding: 0 0 0 8px;
    } 

    .button_drop > a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: #fff9f0; /* Color del borde inferior */
        transition: width 0.3s ease-in-out;
    }

    .button_drop > a > img {
        padding: 3px 3px 3px  3px; /* padding: arriba, derecha, abajo, izquierda */
        transition: transform 0.2s ease;
    }


    .dropdown_button:hover .button_drop > a > img {
        transform: rotate(180deg); /* Agregamos la rotación al pasar el ratón sobre la imagen */
    }

    .dropdown_button:hover .button_drop > a:after {
        width: 100%;
       /* Tamaño más grande del borde hover*/
    }

    .dropdown_button:hover .button_drop>a:hover{
     
    }
    /*boton end *********************************************/

    .dropdown_content{
        font-weight: 700;
        left: 0;
        display: flex;
        position: absolute;
        width: 100%;
        background-image: var(--dropdown_color_gradient);
        z-index: 100;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition:all .3s ease-in;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    }

    .dropdown_button:hover .dropdown_content{  
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition:all .3s ease-out;
    }

    .dropdown_shadow{
        left: 0;
        top:50px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--shadow_color);
        z-index: -10;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    .dropdown_button:hover .dropdown_shadow{  
        opacity: 1; 
        backdrop-filter: blur(5px);
    }

    .list_content{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
    }

    .list_content li{
        color: #fff9f0;
        padding: 10px;
        transition: all 0.3s ease-in-out;
    }

    .list_content li:hover{
        color: #88cdf7;
        font-weight: 900;
    }

    @media (max-width: 748px) {
        .dropdown_button {
            display: none;
        }
    }


</style>
